* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  background-color: black;
}

main {
  display: flex;
  margin: auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#form-image {
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 60%;
}
fieldset {
  border: none;
}
.form-row label, input {
  display: flex;
  flex-direction: column;
}

form div:first-of-type {
  padding-right: 12rem;
  padding-left: 2.5rem;
  font-size: 1.5rem;
}

form div:first-of-type p {
  margin: 25px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  
}

/* Desktop Styles */
@media only screen and (min-width: 1201px) {
  main {
    width: 1440px;
    height: 100vh;
  }
}


