@font-face {
  font-family: logo-font;
  src: url('../fonts/Norse-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  background-color: black;
  height: 1024px;
}

main {
  display: flex;
  flex-direction: column;
  background-image: url('../images/photo-1585202900225-6d3ac20a6962.avif');
  background-size: 47%;
  background-position-x: -10%;
  margin: auto;
  width: 1440px;
  height: 100%;
  min-width: 1000px;
  min-height: 800px;
  overflow: hidden;
  position: relative;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.459);
  font-family: logo-font, sans-serif;
  font-size: 6rem;
  color: white;
  height: 15%;
  width: 37%;
  top: 22%;
  z-index: 1;
}

.logo-container > img {
  height: 85%;
  width: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  width: 63%;
  height: 100%;
  align-self: flex-end;
  z-index: 2;
}
fieldset {
  border: none;
}

form div:first-of-type {
  font-size: 1.5rem;
}

form div:first-of-type p {
  margin: 25px;
  margin-left: 0;
  padding-right: 14rem;
  padding-left: 2.5rem;
}

.form-header-text {
  padding-bottom: 4rem;
  font-weight: 200;
}

.form-header-text > p > span {
  font-style: italic;
}

.form-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 35%;
  width: 100%;
  background-color: white;
  padding-right: 11rem;
  padding-left: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  box-shadow: 0px 2.5px 5px 0px lightgray;
  margin-bottom: 2rem;
}

.form-input-container > p {
  width: 100%;
  font-size: 2rem;
}
.form-row {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.form-row input {
  width: 75%;
  line-height: 1.9rem;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  padding-left: 1rem;
  box-shadow: 1px 1px 1px 0px lightgray;
}

.form-row input:focus-visible, input:focus {
  outline-color: blue;
}

.form-row input:valid {
  outline-color: #596D48;
}

.form-row input[type="password"]:invalid {
  outline-color: rgb(199, 2, 2);
}

button {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #596D48;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  align-self: flex-start;
  margin-left: 2.5rem;
  width: 15rem;
  line-height: 1.2rem;
  text-align: center;
  border: none;
  box-shadow: 1.5px 3px 5px 0px lightgray;
}

.form-footer {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  align-self: flex-start;
  padding-left: 2.5rem;
}

.form-footer > a {
  margin-left: 0.25rem;
  text-decoration: none;
  color: #596D48;
  font-size: 18px;
}

#password-input {
  position: relative;
}
.error-message {
  position: absolute;
  top: 3.5rem;
  text-transform: none;
  color: rgb(199, 2, 2);
}